{% extends "base.html" %}{% load static %}

{% block content %}
    <h2 class="text-white add-letter-space mb-3">
        <a href="{% url 'profile' profile_id=profile.user.id %}" class="text-white"><i class="fas fa-backward"></i></a>
        {{ title }}
    </h2>

    {% for follow in object_list %}
        <div class="bg-dark p-2 mb-4">
            <div class="d-flex">
                <img class="rounded-circle d-block" width="120px"
                        {% if follow.following.profile.photo %} src="{{ follow.following.profile.photo.url }}"
                        {% else %} src="{% static 'users/img/profile-pic.png' %}" {% endif %} alt>

                <div class="mt-1 container-fluid">
                    <div class="d-flex justify-content-between">
                        <h2 class="text-white">
                            <a class="text-white opacity-50-onHover"
                               href="{{ follow.following.profile.get_absolute_url }}">{{ follow.following.username }}</a>
                        </h2>
                    </div>

                    {% if follow.following.first_name and follow.following.last_name %}
                        <h3>{{ follow.following.first_name }} {{ follow.following.last_name }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'includes/pagination.html' %}
{% endblock %}