{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div class="d-flex mt-4">
            <div class="mr-3">
                <img class="rounded-circle d-block" width="90px"
                        {% if post.author.profile.photo %} src="{{ post.author.profile.photo.url }}"
                        {% else %} src="{% static 'users/img/profile-pic.png' %}" {% endif %} alt>
            </div>
            <div class="mt-2">
                <a href="{% url 'profile' profile_id=post.author.profile.id %}" class="text-white opacity-50-onHover">
                    <h1 class="add-letter-space">{{ post.author.username }}</h1></a>
            </div>
        </div>

        {% if request.user.id == post.author.id %}
            <ul class="list-inline-item mt-4">
                <li class="list-inline-item">
                    <a href="{% url 'edit_post' post_id=post.id %}" class="text-white text-red-onHover pr-2">
                        <span class="fas fa-pen"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'delete_post' post_id=post.id %}" class="text-white text-red-onHover pr-2">
                        <span class="fas fa-trash"></span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>

    <ul class="post-meta mt-3 mb-4">
        <li class="d-inline-block mr-3">
            <span class="fas fa-clock text-primary"></span>
            <a class="ml-1" href="#">{{ post.time_created }}</a>
        </li>
    </ul>

    {% if post.image %}
        <img class="img-fluid mb-4" src="{{ post.image.url }}" alt>
    {% endif %}

    <p class="mb-4">{{ post.content }}</p>

    <div class="d-flex container-fluid justify-content-between mb-4 p-0">
        <a class="btn btn-primary" href="{% url 'add_comment' post_id=post.id %}">
            <i class="fa fa-comment like-button"> </i>
        </a>
        {% include "likes/includes/like_button.html" %}
    </div>

    {% include 'blog/includes/comments_list.html' %}


{% endblock %}