{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="bg-dark p-5 mb-4">
        <div class="d-flex flex-column flex-md-row">
            <div class="mr-4">
                <img class="rounded-circle d-block" width="200px"
                        {% if profile.photo %} src="{{ profile.photo.url }}"
                        {% else %} src="{% static 'users/img/profile-pic.png' %}" {% endif %} alt>
            </div>

            <div class="mt-2">
                {% if request.user.id == profile.user_id %}
                    <a class="btn-sm btn-primary p-2" href="{% url 'settings' %}">Настройки</a>
                {% else %}
                    {% include 'follows/includes/follow_button.html' %}
                {% endif %}

                <h1 class="text-white">{{ profile.user.username }}</h1>

                {% if profile.user.first_name and profile.user.last_name %}
                    <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                {% endif %}

                <ul class="list-inline mt-2">
                    {% if profile.vk %}
                        <li class="list-inline-item">
                            <span class="fab fa-vk text-white"> {{ profile.vk }}</span>
                        </li>
                    {% endif %}

                    {% if profile.tg %}
                        <li class="list-inline-item">
                            <span class="fab fa-telegram text-white"> {{ profile.tg }}</span>
                        </li>
                    {% endif %}

                    {% if profile.instagram %}
                        <li class="list-inline-item">
                            <span class="fab fa-instagram text-white"> {{ profile.instagram }}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if profile.bio %}
            <div class="mt-2">
                <h3 class="text-white">О себе: </h3>
                <p>{{ profile.bio }}</p>
            </div>
        {% endif %}

        <div class="d-flex justify-content-end container-fluid">
            <p><b>
                <a href="{% url 'follows' profile_id=profile.id %}"
                   class="text-white opacity-50-onHover mr-3">Подписки</a>
            </b></p>
            <p><b>
                <a href="{% url 'followers' profile_id=profile.id %}"
                   class="text-white opacity-50-onHover">Подписчики</a>
            </b></p>
        </div>
    </div>

    {% if request.user.id == profile.id %}
        <a class="btn btn-primary btn-block mb-3" href="{% url 'add_post' %}">Новый пост</a>
    {% endif %}

    <h2 class="text-white add-letter-space mb-3">Посты пользователя:</h2>

    {% include 'blog/includes/posts_list.html' %}
{% endblock %}