{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="bg-dark p-5 mb-5">
        <div class="d-flex flex-column flex-md-row">
            <div class="mr-4">
                <img class="rounded-circle d-block" width="200px"
                        {% if profile.photo %} src="{{ profile.photo.url }}"
                        {% else %} src="{% static 'users/img/profile-pic.png' %}" {% endif %} alt>
            </div>
            <div class="mt-3">
                {% if request.user.id == profile.user_id %}
                    <a class="border profile-header-button" href="{% url 'settings' %}">Настройки</a>
                {% elif already_following %}
                    <a class="border profile-header-button-active"
                       href="{% url 'unfollow' unfollow_id=profile.user.id %}">Отписаться</a>
                {% else %}
                    <a class="border profile-header-button"
                       href="{% url 'follow' follow_to_id=profile.user.id %}">Подписаться</a>
                {% endif %}

                <h1 class="text-white">{{ profile.user.username }}</h1>
                {% if profile.user.first_name and profile.user.last_name %}
                    <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                {% endif %}

                <ul class="list-inline mt-2">
                    {% if profile.vk %}
                        <li class="list-inline-item">
                            <span class="fab fa-vk text-white"> {{ profile.vk }}</span>
                        </li>
                    {% endif %}

                    {% if profile.tg %}
                        <li class="list-inline-item">
                            <span class="fab fa-telegram text-white"> {{ profile.tg }}</span>
                        </li>
                    {% endif %}

                    {% if profile.instagram %}
                        <li class="list-inline-item">
                            <span class="fab fa-instagram text-white"> {{ profile.instagram }}</span>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>

        {% if profile.bio %}
            <div class="mt-2">
                <h3 class="text-white">О себе: </h3>
                <p>{{ profile.bio }}</p>
            </div>
        {% endif %}
    </div>

    {% include 'posts/includes/posts_list.html' %}
{% endblock %}