<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="galaxy"/>

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

</head>

<body>
<!-- START main-wrapper -->
<section class="d-flex">

    <!-- start of sidenav -->
    {% include "includes/sidenav.html" %}
    <!-- end of sidenav -->

    <div class="main-content">

        <!-- start of mobile-nav -->
        {% include "includes/mobile-nav.html" %}
        <!-- end of mobile-nav -->

        <div class="container py-4 my-5">
            <div class="row justify-content-between">

                <div class="col-lg-7">
                    <!-- start of content -->
                    {% block content %}
                    {% endblock %}
                    <!-- end of content -->
                </div>

                <div class="col-lg-4">
                    <!-- start of widgets -->
                    {% include "includes/widgets.html" %}
                    <!-- end of widgets -->
                </div>

            </div>
        </div>

        <!-- start of footer -->
        {% include "includes/footer.html" %}
        <!-- end of footer -->
    </div>

</section>
<!-- END main-wrapper -->

<!-- All JS Files -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
