{% extends "base.html" %}
{% load static %}

{% block additional-widgets %}
    <div class="widget bg-dark p-4 text-center">
        <h2 class="widget-title text-white d-inline-block mt-4">{{ title }}</h2>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <div class="text-center">
                    <img src="{% static 'users/img/profile-pic.png' %}"
                         class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                         width="200px" alt="profile">
                </div>

                <p class="mt-4">{{ form.non_field_errors }}</p>

                {% for f in form %}
                    <div class="mb-3">{{ f }}</div>
                    <p class="mt-4">{{ f.errors }}</p>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Вход</button>
            </div>
        </form>
    </div>
{% endblock %}
