{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="contact-form bg-dark mb-5">
        <h2 class="widget-title text-white d-inline-block mt-4 mb-5">Сброс пароля</h2>

        <form method="post">
            {% csrf_token %}

            <p>{{ form.non_field_errors }}</p>

            <div class="form-group">
                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="text-black-300">Введите Email для сброса пароля</label>
                    {% render_field form.email class="form-control bg-transparent rounded-0 border-bottom shadow-none pb-15 px-0" %}
                    <p>{{ form.email.errors }}</p>
                </div>
            </div>

            <button class="btn btn-sm btn-primary" type="submit">Отправить письмо</button>
        </form>
    </div>
{% endblock %}